body {
  color: #000;
}

._container {
  max-width: 953px;
  margin: 0 auto;
}
@media (max-width: 965px) {
  ._container {
    max-width: 750px;
  }
}
@media (max-width: 991.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.header__content {
  max-width: 965px;
  padding: 0 6px;
}
.menu__body {
  padding: 0 0 10px 0;
}
@media (max-width: 767.98px) {
  .menu__body {
    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    overflow: auto;
    padding: 66px 0px 30px 15px;
  }
  .menu__body._active {
    transform: translate(0px, 0%);
  }
}
.menu__body:after {
  content: "";
  width: 100%;
  justify-content: flex-end;
  border: 1px solid transparent;
  bottom: 0;
  display: flex;
  background: rgb(130, 130, 130);
}
@media (max-width: 767.98px) {
  .menu__body:after {
    display: none;
  }
}
.menu__switch {
  display: none;
}
@media (max-width: 479.98px) {
  .menu__switch {
    display: flex;
    flex-direction: column;
    padding: 140px 0px 0 230px;
  }
}
.menu__list {
  height: 88px;
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .menu__list {
    display: block;
    height: auto;
  }
  .menu__list li {
    margin: 0px 0px 45px 0px;
  }
  .menu__list li:last-child {
    margin: 0px 0px 0px 0px;
  }
}
.menu__link {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #070707;
  transition: color 0.4 ease 0;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 34px;
  }
}
@media (min-width: 991.98px) {
  .menu__link:hover {
    color: #828282;
  }
}
@media (max-width: 767.98px) {
  .menu__link {
    color: #828282;
  }
  .menu__link._active {
    color: #000;
    transition: all 0.4s ease 0s;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: absolute;
    top: 68px;
    right: 30px;
    width: 33px;
    height: 20px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span {
    transition: all 0.3s ease 0s;
    top: calc(50% - 2px);
    left: 8px;
    position: absolute;
    width: 100%;
    height: 3.84px;
    background-color: #000;
  }
  .icon-menu span:first-child {
    top: 0px;
  }
  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }
  .icon-menu._active span {
    transform: scale(0);
    background-color: #828282;
  }
  .icon-menu._active span:first-child {
    transform: rotate(-45deg);
    top: calc(50% - 3px);
  }
  .icon-menu._active span:last-child {
    transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-bold.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff"), url("../fonts/gilroy-bold.ttf") format("truetype"), url("../fonts/gilroy-bold.svg#gilroy-bold") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-medium.eot"); /* IE 9 Compatibility Mode */
  src: url("../fonts/gilroy-medium.eot?#iefix") format("embedded-opentype"), url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff"), url("../fonts/gilroy-medium.ttf") format("truetype"), url("../fonts/gilroy-medium.svg#gilroy-medium") format("svg"); /* Chrome < 4, Legacy iOS */
  font-weight: 500;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

.body {
  font-family: "Gilroy";
}

.body ._lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.hello {
  padding: 0 0 104px 0;
}
.hello__container {
  display: flex;
  flex-direction: column;
}
.hello__content {
  width: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0px 50px 0px;
}
@media (max-width: 767.98px) {
  .hello__content {
    flex-direction: column;
    align-items: flex-start;
    padding: 50px 0px 36px 12px;
  }
}
@media (max-width: 991.98px) {
  .hello__content {
    padding: 50px 0px 36px 25px;
  }
}
.hello__title {
  width: 123px;
  font-size: 47px;
  font-weight: 700;
  line-height: 123.4042553191%;
  color: #070707;
}
@media (max-width: 479.98px) {
  .hello__title {
    padding: 0px 0px 23px 0px;
  }
}
.hello__text {
  width: 155px;
}
.hello__photo {
  display: flex;
  justify-content: center;
}
.hello__switch {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .hello__switch {
    display: none;
  }
}

.photo-pc {
  width: 100%;
}
@media (max-width: 991.98px) {
  .photo-pc {
    width: 95%;
  }
}
@media (max-width: 479.98px) {
  .photo-pc {
    display: none;
  }
}

.photo-tele {
  display: none;
}
@media (max-width: 479.98px) {
  .photo-tele {
    width: 95%;
    display: flex;
  }
}

.text {
  font-weight: 500;
  font-size: 18px;
  line-height: 122.2222222222%;
  color: #070707;
}

.rus {
  font-size: 16px;
  line-height: 19.81px;
  font-weight: 700;
  color: #828282;
  transform: rotate(-90deg);
  margin: 10px auto;
}
@media (max-width: 767.98px) {
  .rus {
    font-size: 34px;
    line-height: 42px;
    color: #828282;
    transform: rotate(90deg);
    margin: 20px auto;
  }
}

.eng {
  font-size: 16px;
  line-height: 19.81px;
  font-weight: 700;
  color: #000;
  transform: rotate(-90deg);
  margin: 7px auto;
}
@media (max-width: 767.98px) {
  .eng {
    font-size: 34px;
    line-height: 42px;
    color: #000;
    transform: rotate(90deg);
    margin: 15px auto;
  }
}

.about {
  background: #f6f6f6;
  height: 506px;
  display: flex;
  align-items: center;
}
.about__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__title {
  padding: 0 0 35px 0;
}
.about__text {
  width: 485px;
  height: 218px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 479.98px) {
  .about__text span {
    padding: 0px 0px 20px 0px;
  }
  .about__text span:last-child {
    padding: 0px 0px 0px 0px;
  }
}
@media (max-width: 479.98px) {
  .about__text {
    width: 100%;
    height: auto;
  }
}

.title {
  font-size: 34px;
  line-height: 131.25%;
  color: #070707;
  font-weight: 700;
}

.skill__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skill__title {
  padding: 90px 0px 68px 0px;
}
.skill__text {
  padding: 0px 0px 84px 0px;
}
.skill__soft {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767.98px) {
  .skill__soft {
    flex-direction: column;
  }
}

.soft__pg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.soft__icon {
  padding: 0px 0px 24px 0px;
}
.soft__text {
  text-align: center;
  font-weight: 700;
  padding: 0px 0px 36px 0px;
  font-size: 14px;
  line-height: 17px;
  color: rgb(130, 130, 130);
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}
.soft__star {
  display: inline-flex;
  margin: 0px 0px 111px 0px;
}

.star-item {
  font-size: 16px;
  padding: 0px 10px 0px 10px;
}
.star-item_inactive {
  font-size: 16px;
  padding: 0px 0px 0px 10px;
  color: #e5e5e5;
}

.soft {
  font-size: 89px;
}

.soft__figma {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  padding: 0px 0px 24px 0px;
}

.figma {
  font-size: 29px;
  display: flex;
  margin: 0 0 0px -1.2px;
}

.portfolio {
  background: #f6f6f6;
}
.portfolio__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio__title {
  padding: 112px 0px 64px 0px;
}
@media (max-width: 767.98px) {
  .portfolio__screen_pc {
    display: none;
  }
}
.portfolio__screen_tele {
  display: none;
}
@media (max-width: 767.98px) {
  .portfolio__screen_tele {
    display: block;
    width: 100%;
  }
}
.portfolio__text {
  text-decoration: underline;
  padding: 45px 0px 99px 0px;
}
.portfolio__text a {
  color: #070707;
}

.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__title {
  padding: 110px 0px 30px 0px;
}
.footer__text {
  text-align: center;
}
.footer__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 42px;
  background: #070707;
  border-radius: 60px;
  margin: 30px 0px 85px 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  filter: drop-shadow(0em 1em 1em #000);
  transition: all 0.4s ease 0s;
}
.footer__btn:hover {
  background: rgba(255, 255, 255, 0.5);
  filter: drop-shadow(0.7em 1em 1em #828282);
}
.footer__social {
  width: 340px;
  display: inline-flex;
  justify-content: space-between;
  padding: 0px 0px 45px 0px;
}
@media (max-width: 767.98px) {
  .footer__social {
    width: 100%;
  }
}
.footer__ps {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 121.4285714286%;
  color: #828282;
  padding: 0px 0px 123px 0px;
}

.social {
  font-size: 40px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
@media (max-width: 479.98px) {
  .social {
    font-size: 3em;
  }
}
.social:hover {
  color: #828282;
}